# Ignore external repository dirs
doc
test-data

# Ignore unit-test files
Testing/

# Ignore local swap
*.kate-swp
*.swp

# Ignore local config
.vscode
.kateconfig
*.autosave
*.config
*.creator
*.creator.user
*.files
*.includes
.kdev_include_paths
*.kde4
*.kdev4
.idea

# Ignore local cache
__pycache__
.DS_Store
.directory
.gdb_history
*.egg-info

# Ignore build files
build*
qtcreator-build
build_dir
.flatpak-builder
compile_commands.json

# Ignore temporary files
*.orig
*.rej
*.trace
CMakeLists.txt.user*
*~
GTAGS
GPATH
GRTAGS
GSYMS
BROWSE

.venv
*cache.pkl
temp.build
temp.dwnld
Applications/
homebrew/bundle
installer/postinstall
installer/preinstall
project/bundles/homebrew/bundle/digiKam-8.5.0-20240830T172440-Qt6-MacOS-arm64.pkg
project/bundles/homebrew/bundle/digiKam-8.5.0-20240830T172440-Qt6-MacOS-arm64.pkg.sum
project/bundles/homebrew/bundle/sha256_release.sum
project/bundles/homebrew/data/liblqr_manifest.txt
project/bundles/homebrew/data/libraw_manifest.txt
project/bundles/homebrew/data/o2_manifest.txt
project/bundles/homebrew/data/RELEASEID.txt
project/bundles/homebrew/installer/postinstall
project/bundles/homebrew/installer/preinstall
