diff --git a/CMakeLists.txt b/CMakeLists.txt
index 9856d0c4..2cf72951 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -23,7 +23,7 @@ include(ECMPoQmTools)
 include(ECMAddQch)
 include(ECMQtDeclareLoggingCategory)
 include(ECMDeprecationSettings)
-include(ECMQmlModule)
+#include(ECMQmlModule)
 
 set(REQUIRED_QT_VERSION 6.5.0)
 
