[Desktop Entry]
Type=Application
Name=Gimp
Exec="%ProgramFiles%/GIMP 2/bin/gimp-2.10.exe" %f
Icon="%ProgramFiles%/GIMP 2/bin/gimp-2.10.exe"
MimeType=image/jpg;image/raw
