[Desktop Entry]
Type=Application
Name=Irfan View 32-bit
Name[bg]=Irfan View 32-bit
Name[ca]=Irfan View de 32 bits
Name[ca@valencia]=Irfan View de 32 bits
Name[eo]=Irfan View 32-bita
Name[es]=Irfan View de 32 bits
Name[fr]=Affichage Irfan 32 bits
Name[is]=Irfan View 32-bita
Name[it]=Irfan View a 32 bit
Name[nl]=Irfan View 32-bit
Name[sl]=Irfan View 32-bit
Name[sv]=Irfan View 32-bitar
Name[tr]=IrfanView 32 bit
Name[uk]=32-бітовий Irfan View
Name[x-test]=xxIrfan View 32-bitxx
Name[zh_CN]=Irfan View 32 位
Name[zh_TW]=Irfan View 32-bit
X-Exec=%ProgramFiles(x86)%/IrfanView/i_view32.exe %f
X-Icon=%ProgramFiles(x86)%/IrfanView/i_view32.exe
MimeType=image/jpg;image/bmp;image/png
