[Desktop Entry]
Type=Application
Name=Corel PaintShop Pro 2023 (64-bit)
Name[bg]=Corel PaintShop Pro 2023 (64-bit)
Name[ca]=Corel PaintShop Pro 2023 (64-bits)
Name[ca@valencia]=Corel PaintShop Pro 2023 (64-bits)
Name[es]=Corel PaintShop Pro 2023 (64 bits)
Name[fr]=Corel PaintShop Pro 2023 (64 bits)
Name[nl]=Corel PaintShop Pro 2023 (64-bit)
Name[sl]=Corel PaintShop Pro 2023 (64-bit)
Name[tr]=Corel PaintShop Pro 2023 (64 bit)
Name[uk]=Corel PaintShop Pro 2023 (64-бітовий)
Name[x-test]=xxCorel PaintShop Pro 2023 (64-bit)xx
X-Exec="%ProgramFiles%/Corel/Corel PaintShop Pro 2023 (64-bit)/Corel PaintShop Pro.exe" %f
X-Icon="%ProgramFiles%/Corel/Corel PaintShop Pro 2023 (64-bit)/Corel PaintShop Pro.exe"
MimeType=image/jpg;image/bmp;image/png
