[Desktop Entry]
Type=Application
Name=Corel PaintShop Pro 2023 (64-bit)
Name[be]=Corel PaintShop Pro 2023 (64-bit)
Name[bg]=Corel PaintShop Pro 2023 (64-bit)
Name[ca]=Corel PaintShop Pro 2023 (64-bits)
Name[ca@valencia]=Corel PaintShop Pro 2023 (64-bits)
Name[cs]=Corel PaintShop Pro 2023 (64-bit)
Name[en_GB]=Corel PaintShop Pro 2023 (64-bit)
Name[eo]=Corel PaintShop Pro 2023 (64-bita)
Name[es]=Corel PaintShop Pro 2023 (64 bits)
Name[fr]=Corel PaintShop Pro 2023 (64 bits)
Name[is]=Corel PaintShop Pro 2023 (64-bita)
Name[it]=Corel PaintShop Pro 2023 (a 64 bit)
Name[nl]=Corel PaintShop Pro 2023 (64-bit)
Name[sl]=Corel PaintShop Pro 2023 (64-bit)
Name[sv]=Corel PaintShop Pro 2023 (64-bitar)
Name[tr]=Corel PaintShop Pro 2023 (64 bit)
Name[uk]=Corel PaintShop Pro 2023 (64-бітовий)
Name[x-test]=xxCorel PaintShop Pro 2023 (64-bit)xx
Name[zh_CN]=Corel PaintShop Pro 2023 (64 位)
X-Exec="%ProgramFiles%/Corel/Corel PaintShop Pro 2023 (64-bit)/Corel PaintShop Pro.exe" %f
X-Icon="%ProgramFiles%/Corel/Corel PaintShop Pro 2023 (64-bit)/Corel PaintShop Pro.exe"
MimeType=image/jpg;image/bmp;image/png
