[Desktop Entry]
Type=Application
Name=showFoto
Name[ar]=شوفوتو
Name[be]=showFoto
Name[bg]=showFoto
Name[bs]=showFoto
Name[ca]=showFoto
Name[ca@valencia]=showFoto
Name[cs]=showFoto
Name[da]=showFoto
Name[de]=showFoto
Name[el]=showFoto
Name[en_GB]=showFoto
Name[eo]=showFoto
Name[es]=showFoto
Name[et]=showFoto
Name[eu]=showFoto
Name[fi]=showFoto
Name[fr]=ShowFoto
Name[ga]=showFoto
Name[gl]=showFoto
Name[he]=showFoto
Name[hne]=सो-फोटो
Name[hr]=showFoto
Name[hu]=showFoto
Name[id]=showFoto
Name[is]=showFoto
Name[it]=showFoto
Name[ja]=showFoto
Name[ka]=სურათისჩვენება
Name[km]=showFoto
Name[ko]=showFoto
Name[lt]=showFoto
Name[lv]=showFoto
Name[mr]=शो-फोटो
Name[nb]=showFoto
Name[nds]=showFoto
Name[ne]=फोटो देखाउनुहोस्
Name[nl]=showFoto
Name[nn]=showFoto
Name[pa]=ਫੋਟੋ ਵੇਖੋ
Name[pl]=showFoto
Name[pt]=showFoto
Name[pt_BR]=showFoto
Name[ro]=showFoto
Name[ru]=showFoto
Name[sk]=showFoto
Name[sl]=showFoto
Name[sq]=showFoto
Name[sv]=Showfoto
Name[th]=showFoto
Name[tr]=FotoGöster
Name[ug]=showFoto
Name[uk]=showFoto
Name[vi]=showFoto
Name[x-test]=xxshowFotoxx
Name[zh_CN]=showFoto
Name[zh_TW]=showFoto
X-Exec=%ProgramFiles%/digiKam/showfoto.exe %f
X-Icon=%ProgramFiles%/digiKam/showfoto.exe
MimeType=image/jpg;image/bmp;image/png
