[Desktop Entry]
Type=Application
Name=VLC media player
Name[bg]=VLC media player
Name[ca]=Reproductor multimèdia VLC
Name[ca@valencia]=Reproductor multimèdia VLC
Name[eo]=VLC media player
Name[es]=Reproductor multimedia VLC
Name[fr]=Lecteur multimédia VLC
Name[it]=Riproduttore multimediale VLC
Name[nl]=VLC mediaspeler
Name[sl]=Medijski predvajalnik VLC
Name[sv]=VLC mediaspelare
Name[tr]=VLC Ortam Oynatıcısı
Name[uk]=Мультимедійний програвач VLC
Name[x-test]=xxVLC media playerxx
Name[zh_CN]=VLC 媒体播放器
Name[zh_TW]=VLC 媒體播放器
X-Exec=vlc.exe %f
X-Icon=vlc.exe
MimeType=video/mp4;video/mov;video/mpg;video/wmv
