[Desktop Entry]
Type=Application
Name=Windows Media Player
Name[be]=Windows Media Player
Name[bg]=Windows Media Player
Name[ca]=Windows Media Player
Name[ca@valencia]=Windows Media Player
Name[cs]=Windows Media Player
Name[en_GB]=Windows Media Player
Name[eo]=Windows Media Player
Name[es]=Reproductor multimedia de Windows
Name[fr]=Lecteur multimédia Windows
Name[is]=Windows Media Player
Name[it]=Windows Media Player
Name[nl]=Windows Mediaspeler
Name[sl]=Windows Media Player
Name[sv]=Windows mediaspelare
Name[tr]=Windows Media Player
Name[uk]=Windows Media Player
Name[x-test]=xxWindows Media Playerxx
Name[zh_CN]=Windows 媒体播放器
Name[zh_TW]=Windows 媒體播放器
X-Exec=wmplayer.exe %f
X-Icon=wmplayer.exe
MimeType=video/mp4;video/mov;video/mpg;video/wmv
