[Desktop Entry]
Type=Application
Name=XnView MP
Name[bg]=XnView MP
Name[ca]=XnView MP
Name[ca@valencia]=XnView MP
Name[eo]=XnView MP
Name[es]=XnView MP
Name[fr]=XnView MP
Name[nl]=XnView MP
Name[sl]=XnView MP
Name[tr]=XnView MP
Name[uk]=XnView MP
Name[x-test]=xxXnView MPxx
Name[zh_CN]=XnView MP
Exec=%ProgramFiles%/XnViewMP/xnviewmp.exe %f
Icon=%ProgramFiles%/XnViewMP/xnviewmp.exe
MimeType=image/jpg;image/bmp;image/png
